// ----- COLORS ----
$blue_purple_light: #829cff  //after royal blue is clicked
$blue_royal: #5175FF
$blue_royal--light: #5174ff26
$grey_navy: #333950
$grey_charcoal: #25293a
$grey_light: #747b95
$orange: #f05b5b
$bg_ceramic_white: #f2f2f2
